@{
    ViewData["Title"] = "Nation Builder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
  <html xmlns="http://www.w3.org/1999/xhtml">
      <head>
        <title>AJAX Demo</title>
      </head>

  </html>